## Q1. Explain with an example each when to use a for loop and a while loop.*italicised text*

####  A for loop is used when we know the number of iterations beforehand, or we have a sequence (like a list, string, or range) to iterate over.

In [1]:
# Print the first 10 natural numbers
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### A while loop is used when we don't know the number of iterations beforehand, and the loop continues until a certain condition is met.

In [4]:
# Print numbers until the user enters 0
num = 1
while num != 0:
    num = int(input("Enter a number (0 to exit): "))
    print(f"You entered: {num}")

Enter a number (0 to exit): 1
You entered: 1
Enter a number (0 to exit): 2
You entered: 2
Enter a number (0 to exit): 3
You entered: 3
Enter a number (0 to exit): 4
You entered: 4
Enter a number (0 to exit): 0
You entered: 0

## Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [8]:
sum = 0
product = 1
for i in range(1,11):
  sum += i
  product *= i
print(f"Sum of 10 natural numbers are {sum}" )
print(f"Product of 10 natural numbers are {product}" )

Sum of 10 natural numbers are 55
Product of 10 natural numbers are 3628800

In [9]:
# Sum and product of first 10 natural numbers using while loop
sum = 0
product = 1
i = 1
while i <= 10:
    sum += i
    product *= i
    i += 1

print(f"Sum of first 10 natural numbers: {sum}")
print(f"Product of first 10 natural numbers: {product}")

Sum of first 10 natural numbers: 55
Product of first 10 natural numbers: 3628800

## Q3. Create a python program to compute the electricity bill for a household.The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user willbe charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [11]:
Total_units = int(input("Electricity Consumed in a month: "))

if Total_units <= 100:
    Total_bills = Total_units * 4.5
elif Total_units <= 200:
    Total_bills = 100 * 4.5 + (Total_units - 100) * 6
elif Total_units <= 300:
    Total_bills = 100 * 4.5 + 100 * 6 + (Total_units - 200) * 10
else:
    Total_bills = 100 * 4.5 + 100 * 6 + 100 * 10 + (Total_units - 300) * 20

print(f"the total electricity bill should be {Total_bills}")

Electricity Consumed in a month: 290
the total electricity bill should be 1950.0

## Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [12]:
numbers = list(range(1, 101))
result = []

for num in numbers:
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        result.append(num)

print(f"Numbers whose cubes are divisible by 4 or 5: {result}")

Numbers whose cubes are divisible by 4 or 5: [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [15]:
numbers = list(range(1, 101))
result = []
num =1
while num<= len(numbers):
  cube = num ** 3
  if cube % 4 == 0 or cube % 5 == 0:
    result.append(num)
  num+=1

print(f"Numbers whose cubes are divisible by 4 or 5: {result}")

Numbers whose cubes are divisible by 4 or 5: [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

## Q5. Write a program to filter count vowels in the below-given string.  string = "I want to become a data scientist"

In [16]:
string = "I want to become a data scientist"
vowels = "aeiou"
count = 0

for char in string:
    if char in vowels:
        count += 1

print(f"Number of vowels in the string: {count}")

Number of vowels in the string: 11